<!-- app tool bar -->
<div class="app-toolbar">
  <mat-toolbar color="accent">
    <mat-toolbar-row class="mat-elevation-z4">
      <div class="fx-grow" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <button
            [routerLink]="['/users']"
            class="mat-h2"
            color="accent"
            mat-flat-button
            type="button"
          >
            <span class="mat-h2">Users</span>
          </button>
        </div>

        <div>
          <button
            [routerLink]="['/users/add']"
            color="accent"
            mat-flat-button
            type="button"
          >
            Add
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container-host">
  <router-outlet></router-outlet>
</div>
