<!-- app tool bar -->
<div class="app-toolbar">
  <mat-toolbar color="accent">
    <mat-toolbar-row class="mat-elevation-z4">
      <div>
        <div>
          <h2 class="feature-brand">
            AWS SDK - Cognito
          </h2>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="scroll-container">
  <div
    class="container"
    ngClass.gt-md="constrain"
    fxLayout="column"
    fxLayoutGap="16px"
  >
    <div
      *ngIf="amplifyInit.configured === false"
      class="notes mat-elevation-z2"
    >
      <p>
        Use the
        <a [routerLink]="['/amplify-config']" class="highlight">`Config`</a>
        option to provide the information needed to connect the Web Client to
        the User Pool and the
        <a [routerLink]="['/cognito-auth']" class="highlight">`Auth`</a>
        option to Sign In.
      </p>
    </div>

    <div class="notes mat-elevation-z2">
      <h3>
        AWS SDK with a Cognito User Pool
      </h3>
      <p>
        Once you have a User Pool you may want to create a UI to administer the
        User Pool, using a Group in the Pool to control who can perform this
        administration.
      </p>
      <ul>
        <li>
          <a
            href="https://docs.aws.amazon.com/sdk-for-javascript/"
            rel="noopener noreferrer"
            target="_blank"
            >AWS SDK</a
          >
          provides the client side library to access the Cognito APIs
        </li>
        <li>
          <a
            href="https://aws.amazon.com/cognito/"
            rel="noopener noreferrer"
            target="_blank"
            >Cognito</a
          >
          Identity Pool provides a method to Authenticate using a User Pool
        </li>
        <li>
          <a
            href="https://aws.amazon.com/iam/"
            rel="noopener noreferrer"
            target="_blank"
            >IAM</a
          >
          sets resource permissions for the group
        </li>
      </ul>
    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              1 - Setup an Identity Pool that points to the User Pool
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ol>
          <li>
            Open
            <a
              href="https://console.aws.amazon.com/cognito/"
              rel="noopener noreferrer"
              target="_blank"
            >
              AWS Cognito
            </a>
          </li>
          <li>Select <span>`Manage Identity Pools`</span></li>
          <li>Select <span>`Create new identity pool`</span></li>
          <li>
            Enter a name in <span>`Identity pool name`</span>
            <ul>
              <li>example: My Identity Pool</li>
            </ul>
          </li>
          <li>Select <span>`Authentication providers`</span></li>
          <li>
            Enter your <span>`User Pool ID`</span>
            <ul>
              <li>{{ configuration.userPoolId }}</li>
            </ul>
          </li>
          <li>
            Enter your <span>`App client id`</span>
            <ul>
              <li>{{ configuration.userPoolWebClientId }}</li>
            </ul>
          </li>
          <li>Select <span>`Create Pool`</span></li>
          <li>
            New IAM Roles for Authenticated and Unauthenticated users will be
            created
          </li>
          <li>Select <span>`Allow`</span></li>
          <li>Select <span>`Edit identity pool`</span></li>
          <li>Select <span>`Authentication providers`</span></li>
          <li>
            Change <span>`Use default role`</span> to
            <span>`Choose role from token`</span>
          </li>
          <li>Select <span>`Save Changes`</span></li>
        </ol>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              2 - Setup a Role in IAM to Grant Permissions
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ol>
          <li>
            Open
            <a
              href="http://console.aws.amazon.com/iam/"
              rel="noopener noreferrer"
              target="_blank"
            >
              AWS IAM
            </a>
          </li>
          <li>Select <span>`Create role`</span></li>
          <li>
            Select <span>`Web identity (Cognito or any OpenID provider)`</span>
          </li>
          <li>Select identity provider <span>`Amazon Cognito`</span></li>
          <li>Select <span>`Authentication providers`</span></li>
          <li>
            Enter your <span>`Identity Pool ID`</span>
            <ul>
              <li>
                example:
                <span>`us-east-1:941ca555-a9b9-4678-adc2-bfd33bc34efb`</span>
              </li>
            </ul>
          </li>
          <li>Select <span>`Next: Permissions`</span></li>
          <li>
            Enter <span>`Search`</span>
            <ul>
              <li>cognito</li>
            </ul>
          </li>
          <li>
            Select the checkbox next to <span>`AmazonCognitoPowerUser`</span>
            <ul>
              <li>
                This was selected for simplicity - you should later set the
                generated policy to only allow what is needed.
              </li>
            </ul>
          </li>
          <li>Select <span>`Next: Tags`</span></li>
          <li>Select <span>`Next: Review`</span></li>
          <li>
            Enter a <span>`Role name`</span>
            <ul>
              <li>
                example:
                <span>`Pool name - Identity - Administrator`</span>
              </li>
            </ul>
          </li>
          <li>Select <span>`Create role`</span></li>
        </ol>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              3 - Setup a Group in the User Pool associated to the Role
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ol>
          <li>
            Open
            <a
              href="https://console.aws.amazon.com/cognito/"
              rel="noopener noreferrer"
              target="_blank"
            >
              AWS Cognito
            </a>
          </li>
          <li>Select <span>`Manage User Pools`</span></li>
          <li>Select your User Pool</li>
          <li>Select <span>`Users and groups`</span></li>
          <li>Select <span>`Groups`</span></li>
          <li>Select <span>`Create group`</span></li>
          <li>
            Enter <span>`Name`</span>
            <ul>
              <li>example:<span>`Administrator`</span></li>
            </ul>
          </li>
          <li>
            Select the role from <span>`IAM role`</span>
            <ul>
              <li>
                example:
                <span>`Pool name - Identity - Administrator`</span>
              </li>
            </ul>
          </li>
          <li>Select <span>`Create group`</span></li>
          <li>Select <span>`Add users`</span></li>
          <li>
            Select the <span>`+`</span> next to a user
            <ul>
              <li>
                The new credentials for this user will not take affect until
                after a Sign In cycle
              </li>
            </ul>
          </li>
        </ol>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              4 - Set up Cognito Identity Credentails
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          This step sets up the Credentials that will be used to access the
          Cognito API. This process is reusing the Identification token
          associated with the current Sign In. The Identity Pool Id can be found
          following these steps:
        </p>
        <ol>
          <li>
            Open
            <a
              href="https://console.aws.amazon.com/cognito/"
              rel="noopener noreferrer"
              target="_blank"
            >
              AWS Cognito
            </a>
          </li>
          <li>Select <span>`Manage Identity Pools`</span></li>
          <li>
            Select your Identity Pool
            <ul>
              <li>example: My Identity Pool</li>
            </ul>
          </li>
          <li>Select <span>`Edit identity pool`</span></li>
          <li>The value is labeled <span>`Identity pool ID`</span></li>
        </ol>
        <code>
          AWS.config.region = ****Region****;
        </code>
        <code>
          AWS.config.credentials = new AWS.CognitoIdentityCredentials( &#123;
          IdentityPoolId: '****IdentityPoolId****', Logins: &#123;
          'cognito-idp.****Region****.amazonaws.com/****UserPoolId****':
          currentSession.getIdToken().getJwtToken() &#125; &#125; );
        </code>
        <form
          (submit)="
            setCognitoIdentityCredentials(
              $event,
              IdentityPoolIdInput.value,
              UserPoolIdInput.value,
              RegionInput.value
            )
          "
        >
          <p>
            The inputs are wired to
            <a
              href="https://aws-amplify.github.io/amplify-js/api/classes/amplifyservice.html#authstatechange_"
              rel="noopener noreferrer"
              target="_blank"
            >
              AWS.CognitoIdentityCredentials()
            </a>
          </p>
          <label>
            IdentityPoolId
            <input #IdentityPoolIdInput type="text" value="" />
          </label>
          <label>
            UserPoolId
            <input
              #UserPoolIdInput
              type="text"
              value="{{ configuration.userPoolId }}"
            />
          </label>
          <label>
            Region
            <input
              #RegionInput
              type="text"
              value="{{ configuration.region }}"
            />
          </label>
          <button type="submit">
            Set Cognito Identity Credentials
          </button>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>
              5 - AWS.CognitoIdentityServiceProvider.listUsers()
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form
          (submit)="
            listUsers($event, UserPoolIdListInput.value, LimitListInput.value)
          "
        >
          <p>
            The inputs are wired to
            <a
              href="https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html#listUsers-property"
              rel="noopener noreferrer"
              target="_blank"
              >listUsers()</a
            >
          </p>
          <label>
            UserPoolId
            <input
              #UserPoolIdListInput
              type="text"
              value="{{ configuration.userPoolId }}"
            />
          </label>
          <label>
            Limit
            <input #LimitListInput type="text" value="10" />
          </label>
          <button type="submit">
            List Users
          </button>
        </form>

        <pre *ngIf="userlistData">{{ userlistData | json }}</pre>
      </mat-expansion-panel>

      <!-- sign up -->
    </mat-accordion>
  </div>
</div>
