<div class="scroll-container">
  <div class="container" ngClass.gt-md="constrain">
    <div class="user-display">
      <h2 class="mat-display-1 no-select">
        Add a new User
      </h2>
      <p>
        When this from is completed an email with the the Username and a
        generated password is sent. The user will need to Sign In and set a new
        password to access the system.
      </p>
      <!-- user form - create mode -->
      <app-user-form [focus]="true" [username]=""> </app-user-form>
    </div>
  </div>
</div>
