<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex="grow" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- app branding -->
      <div class="brand">
        <div>
          <h1 [routerLink]="['/']" class="pointer no-select">
            <strong>{{ environment.appBrand }}</strong>
            <span fxHide fxShow.gt-xs="true">
              - {{ environment.appName }}
            </span>
          </h1>
        </div>
      </div>

      <!-- bigger than small screen menu -->
      <div>
        <!-- dashboard option -->
        <button
          [routerLink]="['/']"
          color="primary"
          mat-flat-button
          type="button"
        >
          <div>
            Welcome
          </div>
        </button>

        <!-- config option -->
        <button
          [routerLink]="['/setup']"
          color="primary"
          mat-flat-button
          type="button"
        >
          <div>
            Setup
          </div>
        </button>

        <!-- auth option -->
        <!-- only show this if Amplify has been configured and the user is not signed in -->
        <button
          *ngIf="amplifyConfigurationService.configured"
          [routerLink]="['/signin']"
          color="primary"
          mat-flat-button
          type="button"
        >
          <div>
            Sign In
          </div>
        </button>

        <button
          *ngIf="state === 'signedIn'"
          [routerLink]="['/users']"
          color="primary"
          mat-flat-button
          type="button"
        >
          <div>
            Users
          </div>
        </button>

        <button
          *ngIf="state === 'signedIn'"
          [matMenuTriggerFor]="userMenu"
          color="primary"
          mat-flat-button
          type="button"
        >
          User
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <div
            *ngIf="currentAuthenticatedUserData"
            class="user-data"
            fxLayout="column"
            fxLayoutGap="16px"
          >
            <div>
              username:
              {{ currentAuthenticatedUserData.username }}
            </div>
            <!-- list attributes -->
            <div
              *ngFor="
                let item of currentAuthenticatedUserData.attributes | keyvalue
              "
            >
              {{ item.key }}: {{ item.value }}
            </div>

            <!-- list roles -->
            <div>
              groups:
              <span
                *ngFor="
                  let item of currentAuthenticatedUserData.signInUserSession
                    .accessToken.payload['cognito:groups'] | keyvalue
                "
              >
                {{ item.value }}
              </span>
            </div>
          </div>
          <button (click)="signOut()" mat-menu-item type="button">
            Sign out
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
