<div class="host-container" fxFlex="grow" fxLayout="column" fxLayoutGap="16px">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    autocomplete="off"
    class="search-form mat-elevation-z2"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="16px"
    ngClass.gt-md="constrain"
    novalidate
  >
    <!-- attribute input -->
    <mat-form-field color="primary">
      <mat-label id="attributeLabel">
        Attribute
      </mat-label>

      <mat-select
        aria-labelledby="attributeLabel"
        formControlName="attributeFormControl"
      >
        <mat-option
          *ngFor="let attribute of userService.metaData"
          [value]="attribute.value"
        >
          {{ attribute.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- comparitor input -->
    <mat-form-field color="primary">
      <mat-label id="comparitorLabel">
        Comparator
      </mat-label>

      <mat-select
        aria-labelledby="comparitorLabel"
        formControlName="comparitorFormControl"
      >
        <mat-option
          *ngFor="let comparitor of comparators"
          [value]="comparitor.value"
        >
          {{ comparitor.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- search/keyword input -->
    <mat-form-field color="primary" fxFlex="grow">
      <mat-label id="searchLabel">
        Search
      </mat-label>

      <input
        #search
        [matAutocomplete]="searchAutocomplete"
        aria-labelledby="searchLabel"
        autocomplete="off"
        formControlName="searchFormControl"
        matInput
        maxlength="100"
      />
    </mat-form-field>
    <mat-autocomplete #searchAutocomplete="matAutocomplete">
      <mat-option *ngFor="let option of typeOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>

    <div fxLayout="row" fxLayoutGap="16px">
      <button (click)="clear()" type="button" mat-stroked-button>
        Clear
      </button>
      <button type="submit" mat-stroked-button>
        Search
      </button>
    </div>
  </form>

  <div fxFlex="grow" ngClass.gt-lg="expand" ngClass.gt-md="constrain">
    <!-- user list display -->
    <app-user-list [params]="params" class="mat-elevation-z2"> </app-user-list>
  </div>
</div>
