<form
  (ngSubmit)="submit()"
  [formGroup]="userFormService.form"
  autocomplete="off"
  fxLayout="column"
  novalidate
>
  <!-- username input -->
  <mat-form-field appearance="standard" color="primary" floatLabel="auto">
    <mat-label id="usernameLabel">
      Username
    </mat-label>

    <input
      #usernameinput
      [readonly]="userFormService.mode !== UserFormMode.create"
      aria-labelledby="usernameLabel"
      autocomplete="off"
      formControlName="Username"
      matInput
      maxlength="128"
      required
    />

    <!-- validation  -->
    <mat-error>
      Please enter a value without spaces
    </mat-error>
  </mat-form-field>

  <!-- email input -->
  <mat-form-field appearance="standard" color="primary" floatLabel="auto">
    <mat-label id="emailLabel">
      Email
    </mat-label>

    <input
      [readonly]="userFormService.mode === UserFormMode.readonly"
      aria-labelledby="emailLabel"
      autocomplete="off"
      formControlName="Email"
      matInput
      maxlength="2048"
      required
      type="email"
    />

    <!-- validation message for email -->
    <mat-error>
      Please enter an email address
    </mat-error>
  </mat-form-field>

  <!-- name input -->
  <mat-form-field appearance="standard" color="primary" floatLabel="auto">
    <mat-label id="nameLabel">
      Name
    </mat-label>

    <input
      aria-labelledby="nameLabel"
      autocomplete="off"
      formControlName="Name"
      matInput
      maxlength="2048"
    />
  </mat-form-field>

  <!-- sub display -->
  <mat-form-field
    *ngIf="userFormService.mode !== UserFormMode.create"
    appearance="standard"
    color="primary"
    floatLabel="auto"
  >
    <mat-label id="subLabel">
      Sub
    </mat-label>

    <input
      [readonly]="true"
      aria-labelledby="subLabel"
      autocomplete="off"
      formControlName="Sub"
      matInput
    />
  </mat-form-field>

  <!-- created date -->
  <mat-form-field
    *ngIf="userFormService.mode !== UserFormMode.create"
    appearance="standard"
    color="primary"
    floatLabel="auto"
  >
    <mat-label id="createdLabel">
      Created
    </mat-label>

    <input
      [readonly]="true"
      aria-labelledby="createdLabel"
      autocomplete="off"
      formControlName="UserCreatedDate"
      matInput
    />
  </mat-form-field>

  <!-- last modified date -->
  <mat-form-field
    *ngIf="userFormService.mode !== UserFormMode.create"
    appearance="standard"
    color="primary"
    floatLabel="auto"
  >
    <mat-label id="lastModifiedLabel">
      Last Modified
    </mat-label>

    <input
      [readonly]="true"
      aria-labelledby="lastModifiedLabel"
      autocomplete="off"
      formControlName="UserLastModifiedDate"
      matInput
    />
  </mat-form-field>

  <!-- enabled option -->
  <div *ngIf="userFormService.mode !== UserFormMode.create">
    <mat-slide-toggle
      color="primary"
      checked="{{ this.userFormService.form.getRawValue().Enabled }}"
      (toggleChange)="enableToggle()"
    >
      Enabled
    </mat-slide-toggle>
  </div>

  <!-- action bar -->
  <div class="action-bar" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutGap="16px">
      <!-- back option -->
      <button (click)="back()" mat-stroked-button type="button">
        Back
      </button>
      <!-- delete option -->
      <button
        *ngIf="userFormService.mode !== UserFormMode.create"
        (click)="deleteUser()"
        mat-stroked-button
        color="warn"
        type="button"
      >
        Delete
      </button>
    </div>

    <!-- create/update option -->
    <!-- ony show the option if not in readonly mode-->
    <!-- disable the option if the form is invalid or untouched -->
    <button
      *ngIf="userFormService.mode !== UserFormMode.readonly"
      color="primary"
      [disabled]="userFormService.form.invalid || userFormService.form.pristine"
      mat-raised-button
      type="submit"
    >
      <!-- change the label based upon the mode-->
      {{ userFormService.mode === UserFormMode.create ? "Add" : "Update" }}
    </button>
  </div>
</form>

<!-- loader -->
<app-loader-component *ngIf="isLoading"> </app-loader-component>
