<!-- app tool bar -->
<div class="app-toolbar">
  <mat-toolbar color="accent">
    <mat-toolbar-row class="mat-elevation-z4">
      <div>
        <div>
          <h2 class="feature-brand">
            Welcome
          </h2>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="scroll-container">
  <div
    class="container"
    ngClass.gt-md="constrain"
    fxLayout="column"
    fxLayoutGap="16px"
  >
    <div class="notes mat-elevation-z2">
      <h3>
        Cognito / Amplify / Angular 9
      </h3>
      <p>
        This application has been created to exercise, demonstraight, and test
        using the AWS Amplify, AWS SDK Javascript library with the AWS Cognit
        Service within an Angular 9 application. This application is not
        leveraging the Amplify CLI, this is more of an experiment in
        understanding what the UI developer needs to know to accessing Cognito
        and other AWS resources.
      </p>
      <p>
        Local Storage, client side browser cookies, is being used to save the
        data needed by Amplify to access AWS Cognito. This is done to prevent
        the loss of the settings on browser refresh. This application is running
        locally in your browser, the information you input is being used by the
        Amplify library and as such any data transmitted is controlled by that
        library.
      </p>

      Amazon Resources:
      <ul>
        <li>
          <a
            href="https://aws.amazon.com/cognito/"
            rel="noopener noreferrer"
            target="_blank"
            >Cognito</a
          >
          <ul>
            <li>
              User Pool - Provides username/password authentication
            </li>
            <li>
              Identity Pool - Provides a method to map a Group in a User Pool to
              an IAM Role
            </li>
          </ul>
        </li>
        <li>
          <a
            href="https://aws.amazon.com/iam/"
            rel="noopener noreferrer"
            target="_blank"
            >IAM</a
          >
          <ul>
            <li>
              Role - Defines permissions to a resource
            </li>
          </ul>
        </li>
      </ul>

      Amazon Javascript:
      <ul>
        <li>
          <a
            href="https://aws.amazon.com/amplify/"
            rel="noopener noreferrer"
            target="_blank"
            >Amplify</a
          >
          <ul>
            <li>
              Provides Objects/Methods to call a set of Amazon Resources
            </li>
          </ul>
        </li>
        <li>
          <a
            href="https://docs.aws.amazon.com/sdk-for-javascript/"
            rel="noopener noreferrer"
            target="_blank"
            >SDK</a
          >
          <ul>
            <li>
              Provides Objects/Methods to call a larger set of Amazon Resources
            </li>
          </ul>
        </li>
      </ul>

      Google Javascript:
      <ul>
        <li>
          <a
            href="https://angular.io/"
            rel="noopener noreferrer"
            target="_blank"
            >Angular</a
          >
          <ul>
            <li>
              Provides a frameowork to build applications
            </li>
          </ul>
        </li>
        <li>
          <a
            href="https://material.angular.io/"
            rel="noopener noreferrer"
            target="_blank"
            >Material</a
          >
          <ul>
            <li>
              Provides a set of components to build applications
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <button mat-raised-button color="accent" [routerLink]="['/setup']">
      Continue with the `Setup` option
    </button>
  </div>
</div>
