@import "~@angular/material/theming";
@mixin app-user-list-component($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  app-user-list {
    mat-icon {
      // leverage mat-color() to get colors from the theme
      &.primary {
        color: mat-color($primary, text);
      }
      &.warn {
        color: mat-color($warn, text);
      }
    }
  }
}
