@import "../../../styles/mixins";
@import "~@angular/material/theming";
:host {
  @include container-host();
  .table-wrapper {
    background-color: #fff;
    position: relative;
    .full-width-table {
      width: 100%;
      .text-center {
        text-align: center;
      }
    }
  }
}
