<div
  *ngIf="users"
  class="table-wrapper"
  fxFlex="grow"
  ngClass.gt-lg="expand"
  ngClass.gt-md="constrain"
>
  <table class="mat-table cdk-table full-width-table hover">
    <caption class="sr-only">
      Table of Users
    </caption>

    <thead role="rowgroup">
      <tr class="mat-header-row cdk-header-row no-select">
        <th class="mat-header-cell cdk-header-cell" id="class_username">
          Username
        </th>
        <th
          class="mat-header-cell cdk-header-cell"
          fxShow
          fxHide.lt-md="true"
          id="class_userlastmodified"
        >
          Last Modified
        </th>
        <th
          class="mat-header-cell cdk-header-cell"
          fxShow
          fxHide.lt-md="true"
          id="class_usercreatedate"
        >
          Created
        </th>
        <th
          class="mat-header-cell cdk-header-cell"
          fxShow
          fxHide.lt-md="true"
          id="class_userstatus"
        >
          Status
        </th>
        <th
          class="mat-header-cell cdk-header-cell"
          fxShow
          fxHide.lt-md="true"
          id="class_enabled"
        >
          Enabled
        </th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let item of users"
        class="data-row pointer no-select"
        [routerLink]="['/users/', item.Username]"
      >
        <td class="mat-cell cdk-cell force-wrap class_username">
          {{ item.Username }}
        </td>
        <td class="mat-cell cdk-cell force-wrap" fxShow fxHide.lt-md="true">
          {{ item.UserLastModifiedDate | date: "short" }}
        </td>
        <td class="mat-cell cdk-cell force-wrap" fxShow fxHide.lt-md="true">
          {{ item.UserCreateDate | date: "short" }}
        </td>
        <td class="mat-cell cdk-cell" fxShow fxHide.lt-md="true">
          {{ item.UserStatus }}
        </td>
        <td class="mat-cell cdk-cell" fxShow fxHide.lt-md="true">
          {{ item.Enabled }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
