<div
  class="table-wrapper mat-elevation-z2"
  fxFlex="grow"
  ngClass.gt-lg="expand"
  ngClass.gt-md="constrain"
>
  <cdk-virtual-scroll-viewport fxFlex="grow" itemSize="48">
    <table class="mat-table cdk-table full-width-table hover">
      <caption class="sr-only">
        Table of Users
      </caption>

      <thead role="rowgroup">
        <tr class="mat-header-row cdk-header-row no-select">
          <th class="mat-header-cell cdk-header-cell" id="user_index">
            Index
          </th>
          <th class="mat-header-cell cdk-header-cell" id="user_useremail">
            Email
          </th>
          <th
            class="mat-header-cell cdk-header-cell"
            fxShow
            fxHide.lt-md="true"
            id="user_username"
          >
            Username
          </th>
          <th
            class="mat-header-cell cdk-header-cell"
            fxShow
            fxHide.lt-md="true"
            id="user_name"
          >
            Name
          </th>
          <th
            class="mat-header-cell cdk-header-cell"
            fxShow
            fxHide.lt-xl="true"
            id="user_sub"
          >
            Sub
          </th>
          <th
            class="mat-header-cell cdk-header-cell"
            fxShow
            fxHide.lt-xl="true"
            id="user_phone_number"
          >
            Phone Number
          </th>
          <th
            class="mat-header-cell cdk-header-cell"
            fxShow
            fxHide.lt-xl="true"
            id="user_preferred_name"
          >
            Preferred Name
          </th>
          <th
            class="mat-header-cell cdk-header-cell"
            fxShow
            fxHide.lt-xl="true"
            id="user_given_name"
          >
            Given Name
          </th>
          <th
            class="mat-header-cell cdk-header-cell"
            fxShow
            fxHide.lt-xl="true"
            id="user_family_name"
          >
            Family Name
          </th>
          <th
            class="mat-header-cell cdk-header-cell"
            fxShow
            fxHide.lt-md="true"
            id="user_userstatus"
          >
            Status
          </th>
          <th
            class="mat-header-cell cdk-header-cell text-center"
            fxShow
            fxHide.lt-md="true"
            id="user_enabled"
          >
            Enabled
          </th>
        </tr>
      </thead>

      <tbody>
        <ng-container *cdkVirtualFor="let item of users; let index = index">
          <tr
            class="data-row pointer no-select"
            (keyup.enter)="openItem(item)"
            [routerLink]="['/users/', item.Username]"
          >
            <td class="mat-cell cdk-cell">
              {{ index + 1 }}
            </td>
            <td class="mat-cell cdk-cell">
              <div class="truncate-two-lines">
                {{ item | userAttributes: "email" }}
              </div>
            </td>
            <td class="mat-cell cdk-cell" fxShow fxHide.lt-md="true">
              <div class="truncate-two-lines">
                {{ item.Username }}
              </div>
            </td>
            <td class="mat-cell cdk-cell" fxShow fxHide.lt-md="true">
              <div class="truncate-two-lines">
                {{ item | userAttributes: "name" }}
              </div>
            </td>
            <td class="mat-cell cdk-cell user_sub" fxShow fxHide.lt-xl="true">
              <div class="truncate-two-lines">
                {{ item | userAttributes: "sub" }}
              </div>
            </td>
            <td
              class="mat-cell cdk-cell user_phone_number"
              fxShow
              fxHide.lt-xl="true"
            >
              {{ item | userAttributes: "phone_number" }}
            </td>
            <td
              class="mat-cell cdk-cell user_preferred_name"
              fxShow
              fxHide.lt-xl="true"
            >
              <div class="truncate-two-lines">
                {{ item | userAttributes: "preferred_username" }}
              </div>
            </td>
            <td
              class="mat-cell cdk-cell user_given_name"
              fxShow
              fxHide.lt-xl="true"
            >
              <div class="truncate-two-lines">
                {{ item | userAttributes: "given_name" }}
              </div>
            </td>
            <td
              class="mat-cell cdk-cell user_family_name"
              fxShow
              fxHide.lt-xl="true"
            >
              <div class="truncate-two-lines">
                {{ item | userAttributes: "family_name" }}
              </div>
            </td>
            <td class="mat-cell cdk-cell" fxShow fxHide.lt-md="true">
              {{ item.UserStatus }}
            </td>
            <td
              class="mat-cell cdk-cell text-center"
              fxShow
              fxHide.lt-md="true"
            >
              <mat-icon
                *ngIf="item.Enabled"
                aria-hidden="true"
                svgIcon="fa-circle"
              >
              </mat-icon>
              <span class="sr-only">{{ item.Enabled }}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>

  <!-- loader -->
  <app-loader-component *ngIf="isLoading"> </app-loader-component>
</div>
